body{
    background-color: black;
    color: white;
}
button{
    width: 60px;
    height: 60px;
    border-radius: 60px;
    border: none;
    font-size: large;
    color: white;
}
button:hover{
    cursor: pointer;
    transition: 0.5s;
    
}
.numbers{
    background-color: rgb(59, 59, 59);
}
.evaluate{
    background-color: orange;
}
.display{
    font-size: 30px;
}